<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
    <div class="cols">
      <a 
        href="/"
        class="header__logo"
        >
        🥑
      </a>
    </div>

    <div class="cols">
      <nav class="nav-bar">
        <a href="/pagina-1">Página 1</a>
        <a href="/pagina-2">Página 2</a>
        <a href="/pagina-3">Página 3</a>
      </nav>
      <div class="responsive-button">
        <span></span>
        <span></span>
        <span></span>
      </div>

    </div>
  </header>

  <div class="banner"></div>

  <main>

    <h1 class="title">Delivery vegano</h1>

    <section class="products-list">
      <article class="product-card">
        <div class="product-card__img">
          <img src="/images/plato.jpg" alt="" srcset="">
        </div>
        <div class="product-card__info">
          <h2>Plato 1</h2>
          <p>$12,99</p>
        </div>
      </article>

      <article class="product-card">
        <div class="product-card__img">
          <img src="/images/plato.jpg" alt="" srcset="">
        </div>
        <div class="product-card__info">
          <h2>Plato 1</h2>
          <p>$12,99</p>
        </div>
      </article>

      <article class="product-card">
        <div class="product-card__img">
          <img src="/images/plato.jpg" alt="" srcset="">
        </div>
        <div class="product-card__info">
          <h2>Plato 1</h2>
          <p>$12,99</p>
        </div>
      </article>
    </section>

  </main>

  <footer class="footer">
    Footer
  </footer>
</body>
</html>