/* header.css */

.header {
  height: 70px;
  /* padding: 11px 16px; */
  background-color: #C5D8B3;
}

.header__logo {
  font-size: 48px;
}


/* nav-bar */
.nav-bar {
  display: none;
}

.nav-bar a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-right: 50px;
  font-weight: normal;
}

.responsive-button {
  /* float: right; */
  display: inline-block;
  width: 24px;
}

.responsive-button span {
  display: block;
  height: 4px;
  background-color: #888;
}

.responsive-button span:not(:first-child) {
  margin-top: 4px;
}

.cols {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
}
 /*box cacaguate*/
.cols:nth-child(1) {
  padding-left: 16px;
}

.cols:nth-child(2) {
  text-align: right;
  padding-right: 16px;
  background-color: red;
}


@media screen and (min-width: 811px) {
  
  .nav-bar {
    display: inline-block;
  }

  .responsive-button {
    display: none;
  }

    /*box cacaguate*/
    .cols:nth-child(1) {
      padding-left: 61px;
    }

}

@media screen and (min-width: 1440px){

    /* nav-bar */
  .nav-bar {
    display: block;
  }
 
}